/*Faded swiper*/

.top-img-container {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: calc(100vh - 110px);
  @media only screen and (max-width: 768px) {
    height: calc(100vh - 70px);
  }
  min-height: 500px;
  background-position: center;
  background-attachment: fixed;
  //background: url(/images/111.jpeg);
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #c4dadb;
  }
  .top-img-container-caption {
    position: absolute;
    margin: 20px auto;
    padding: 1rem;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 1000px) {
      padding: 25px;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    h1,
    h3 {
      color: gold;
      text-shadow: 0 2px 1px #fff, 0 -3px 4px #fff;
      text-align: center;
      font-weight: bold;
    }
    b {
      line-height: 2;
      text-align: center;
      font-size: 1rem;
      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    .contact-us {
      margin: 25px auto;
      padding: 8px 20px;
      border-radius: 30px;
      border: 2px solid #fff;
      color: #000;
    }
  }
}

$head-with-border-bg: linear-gradient(to right, #232526, #414345);
.head-with-border {
  position: relative;
  z-index: 2;
  h2,
  h1 {
    text-align: center;
    //background: linear-gradient(to right, #a62a2a, #dc3545);
    background: $head-with-border-bg;
    color: #fff;
    margin: 30px auto 15px auto;
    border-radius: 5px;
    width: 250px;
    padding: 10px 15px;
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      //background-color: #a62a2a;
      background: $head-with-border-bg;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: -1;
    }
  }
}

.who-us,
.why-us {
  .who-us-body {
    padding: 5px 40px;
    line-height: 2;
  }
}

.who-us {
  .swiper-container {
    width: 100%;
    height: 400px;
    position: relative !important;
    @media only screen and (max-width: 480px) {
      height: 500px;
    }
    .col-sm-6 {
      width: 50%;
    }
    .swiper-wrapper {
      height: 350px;
      width: 100%;
      margin-bottom: 20px;
      @media only screen and (max-width: 480px) {
        height: 450px;
      }
    }
    .swiper-pagination {
      @media only screen and (max-width: 480px) {
        bottom: 50px;
      }
    }
    .swiper-slide {
      //margin: 0 25px !important;
      background-position: center;
      background-size: cover;
    }
    .swiper-button-white {
      //display: none;
      position: absolute;
      top: 175px !important;
      color: #35636a !important;
      @media only screen and (max-width: 480px) {
        top: 225px !important;
      }
    }
    .slide-content {
      background-position: center;
      background-size: cover;
      background-color: #f1f1f1;
      img {
        width: 100%;
        height: 350px;
        max-height: 350px;
      }
      .caption {
        width: 100%;
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
        height: 350px;
        max-height: 350px;
        z-index: 1000;
        .caption-title {
          padding-top: 1rem;
          color: #35636a;
        }
        .text {
          padding: 10px;
        }
        .btn {
          border-radius: 50px;
          padding: 10px;
          @media only screen and (min-width: 768px) {
            margin: 5px 0 0 0.5rem;
          }
          @media only screen and (max-width: 768px) {
            margin-top: 5px;
          }
          //background: linear-gradient(to right, #a62a2a, #dc3545);
          //color: #fff;
        }
      }
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }
    .swiper-pagination-bullet-active {
      background-color: #35636a !important;
    }
  }
}

.why-us {
  position: relative;
  .swiper-cube {
    width: 350px;
    height: 350px;
    margin: 2rem auto;
    position: relative;
    @media only screen and (min-width: 1000px) {
      margin: 4rem auto;
    }
    .why-us-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;
    }
    .swiper-pagination-bullets {
      display: list-item;
      list-style: none;
      bottom: 0 !important;
      width: auto;
      position: absolute;
      left: 94%;
      top: 40%;
    }
    .swiper-pagination-bullet {
      display: block;
      margin-top: 5px;
    }
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: 0 1px 10px;
  }
  .cube-container {
    position: relative;
    margin: 3rem 0 !important;
  }
  .why-us-text {
    line-height: 2;
    padding: 10px 3rem !important;
    @media only screen and (max-width: 768px) {
      padding: 1rem !important;
    }
    .btn {
      width: 150px;
      border-radius: 50px;
      margin: 40px auto;
      @media only screen and (max-width: 768px) {
        margin: 1.5rem auto 0 auto !important;
      }
    }
    b {
      margin-left: 0.5rem;
      display: block;
    }
  }
}

.services {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .service-box {
    @include prefixer(animation, fadeInOut 3s infinite linear, webkit moz);
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
    padding: 0.5rem;
    min-height: 200px;
    position: relative;
    height: auto;
    opacity: 1 !important;
    background-color: white;
    &:hover {
      background-color: #fff;
      color: #000;
      opacity: 0.5;
    }
    @media only screen and (max-width: 768px) {
      min-height: 250px;
    }
    .service-title {
      font-size: 1.25rem;
    }
    .service-desc {
      margin-top: 1.25rem;
    }
    .link {
      position: absolute;
      bottom: 1rem;
      width: 6rem;
      left: calc(50% - 3rem);
    }
  }
  .btn-special {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 45px;

    &:hover {
      @include prefixer(animation, fadeInOut 8s infinite linear, webkit moz);
      background-color: #fff;
      color: #000;
      opacity: 0.5;
    }
  }
}

.our-clients {
  background: linear-gradient(to bottom, #ccc, #ccc, #f1f1f1);
  .client-box {
    position: relative;
    min-height: 330px;
    box-shadow: 0 2px 8px;
    background: #fff;
    .client-img {
      max-width: 100%;
      width: auto;
      height: 200px;
    }
    .client-text {
      margin: 0 0.5rem;
    }
    .link {
      display: flex;
      position: absolute;
      bottom: 20px;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 100%;
    }
  }
}

.our-technology {
  position: relative;
  //animation: bgcolors infinite 15s;
  /* 3D effect swiper*/
  .swiper-3d {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    left: 25px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      img {
        width: 250px;
        height: 300px;
      }
    }
    .swiper-pagination-bullets {
      left: -25px !important;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      @media only screen and (max-width: 768px) {
        width: 10px;
        height: 10px;
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $primary-color;
    }
  }
  .btn-projects {
    position: absolute;
    top: 50%;
    left: 0px;
    margin: 0 10px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 0 25px 25px #f1f1f1, 0 -25px 25px #f1f1f1;
  }
}

.amazing-works {
  //animation: bgcolors infinite 15s;
  background: linear-gradient(
    to left,
    #121212,
    #454545,
    #121212,
    #121212,
    #121212,
    #121212
  );
  .work-box {
    position: relative;
    margin: 1rem;
    padding: 0.1rem;
    z-index: 1;
    &:hover {
      margin-top: -5px;
    }
    .work-img {
      max-width: 100%;
      width: 100%;
      height: 300px;
      &:hover {
        //@include prefixer(animation, fadeInOut 3s infinite linear, webkit moz);
      }
      @media only screen and (max-width: 768px) {
        height: 200px;
      }
    }
    .link {
      color: $primary-color;
      text-decoration: none;
    }
  }
  .work-box:before {
    position: absolute;
    content: " ";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
  }
  .work-box:after {
    position: absolute;
    content: " ";
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -2;
    filter: blur(10px);
  }

  .work-box::before,
  .work-box::after {
    background: linear-gradient(235deg, #89ff00, #121212, #00bcd4);
  }
}

.my-location {
  #map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
}

/* animation keyframe */

@include keyFrame(fadeInOut) {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
